html {
    box-sizing: border-box;
    position: relative;
}

h1,h2,h3,p,fieldset,figure,blockquote,ul,ol {
    margin: 0;
}

main {
    width: 1180px;
    margin-bottom: 100px;
}

* {
    box-sizing: inherit; 
}

body {
    min-width: 320px;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;

    color:#fff;
    background-color: black;  
}

img {
    height: auto;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

.page{
margin: 0 140px 0 140px;

}

/*.container {
    max-width: 1240px;
    padding: 0 30px;
    margin: 130px;
}