
.reserve__book {
    border: none;
}

.reserve__title {
    text-align: center;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.reserve{
    padding-bottom: 50px;
}